server {
             listen 80;
             server_name {{ server_name }};
               
             root /var/www/html/phpipam;
             
             access_log  /var/log/nginx/{{ server_name }}_access.log;
             error_log  /var/log/nginx/{{ server_name }}_error.log;

             error_page 404 /404.html;
             error_page 500 502 503 504 /50x.html;

             # phpipam
             location / {
                try_files $uri $uri/ /phpipam/index.php;
                index index.php;
             }
             # phpipam - api
             location /api/ {
                try_files $uri $uri/ /phpipam/api/index.php;
             }

             location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
              }
}
